body{

background:#f5f3ef;
font-family:"Playfair Display", serif;
margin:0;
overflow:hidden;

}


/* BOOT SCREEN */

#boot-screen{

height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

}

.loading-bar{

width:400px;
height:4px;
background:#dcd8d2;
margin-top:20px;

}

.loading-progress{

width:0%;
height:100%;
background:#7a8466;
animation:load 3s forwards;

}

@keyframes load{

to{
width:100%;
}

}


/* DESKTOP */

.hidden{
display:none;
}

#desktop{

height:100vh;
position:relative;

}


/* FOLDERS */

.icons{

position:absolute;
top:35%;
left:50%;
transform:translate(-50%, -50%);
display:flex;
gap:80px;

}

.folder{

text-align:center;
cursor:pointer;

}

.folder img{

width:70px;

}

.folder p{

margin-top:8px;
font-size:16px;

}


/* DOCK */

.dock{

position:absolute;
bottom:30px;
left:50%;
transform:translateX(-50%);
display:flex;
gap:40px;
padding:15px 30px;

background:white;
border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,0.1);

}

.dock-item{

font-size:14px;
cursor:pointer;

}


/* CLOCK */

.clock{

position:absolute;
right:40px;
bottom:30px;
font-size:14px;

}

/* BACKGROUND LOGO */

.background-logo{

position:absolute;
right:60px;
bottom:80px;

font-size:160px;

color:#7a8466;

opacity:0.15;

}



/* WINDOWS */

.window{

position:absolute;

top:25%;
left:50%;

transform:translateX(-50%);

width:500px;

background:white;

border-radius:12px;

box-shadow:0 20px 40px rgba(0,0,0,0.15);

overflow:hidden;

}


.window-header{

display:flex;
justify-content:space-between;

padding:12px 16px;

background:#efede7;

font-size:14px;

}


.window-header button{

border:none;
background:none;

font-size:20px;

cursor:pointer;

}


.window-content{

padding:30px;

font-size:14px;

}

/* DESKTOP BACKGROUND */

#desktop{

height:100vh;
width:100vw;

background-color:#f5f3ee;

background-image:url("assets/images/sage-logo.png");

background-repeat:no-repeat;

background-position:center;

background-size:40%;

position:relative;

overflow:hidden;

}
